{% extends'template.html.twig' %}

{% block pageHeader %}
	
    <h1>Alexandre Macé, développeur passionné</h1>
	<span class="subheading pt-4">Développeur web en formation chez OpenClassrooms</br><a class="nav-link" href="/web/assets/docs/cv.pdf" target="_blank">CV <i class="fas fa-download"></i></a></span>
    
{% endblock %}

{% block mainContent %}
	
    {% for post in lastPosts %}
        <div class="post-preview">
            <a href="/post/{{ post.id }}/1"> 
                <h2 class="post-title">
                    {{ post.title }} <span class="badge"><i class="fa fa-heart not-clickable-heart"></i> {{ post.likes }}</span>
                </h2>
                <h3 class="post-subtitle">
                    {{ post.intro }}
                </h3>
            </a>
            <p class="post-meta">
            	Dernière modification le {{ post.lastWriteDate|date('d-m-Y H:i') }}
            </p>
        </div>
        <hr>
    {% endfor %}

    <div class="clearfix">
        <a class="btn btn-primary float-right" href="/posts/1">Tous les posts</a>
    </div>

{% endblock %}