{% extends'template.html.twig' %}

{% block pageHeader %}

    <header class="masthead" style="background-image: url('/web/assets/img/about-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Les posts</h1>
                        <span class="subheading">Tous les posts sont accessibles depuis cette page !</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block mainContent %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                
                {% for post in posts %}

                    <div class="post-preview">
                        <a href="/post/{{ post.id }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.intro }}
                            </h3>
                        </a>
                        <p class="post-meta">
                            Dernière modification le {{ post.lastWriteDate|date('d-m-Y') }}
                        </p>
                    </div>
                    <hr>
                    
                {% endfor %}

            </div>
        </div>

        {% if nbPages > 1 %}
        {% set nearbyPagesLimit = 2 %}
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <nav aria-label="posts pagination">
                        <ul class="pagination pagination-lg justify-content-center">
                            {% if page == 1 %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="/posts/{{ page - 1 }}" tabindex="-1">Précédent</a>
                                </li> 
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="/posts/{{ page - 1 }}" tabindex="-1">Précédent</a>
                                </li> 
                            {% endif %}

                            {% for i in 1..nbPages %}
                                {% if page == loop.index %}
                                    <li class="page-item active">
                                      <a class="page-link" href="/posts/{{ i }}">{{ i }}<span class="sr-only">(current)</span></a>
                                    </li>
                                {% elseif 0 < (page - nearbyPagesLimit) - loop.index %} 
                                {% elseif 0 > (page + nearbyPagesLimit) - loop.index %}
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="/posts/{{ i }}">{{ i }}</a></li>    
                                {% endif %}                        
                            {% endfor %}

                            {% if page == nbPages %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="/posts/{{ page + 1 }}">Suivant</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                  <a class="page-link" href="/posts/{{ page + 1 }}">Suivant</a>
                                </li>
                            {% endif %}  
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>


    <hr>

{% endblock %}