{% extends'template.html.twig' %}

{% block pageHeader %}

	<header class="masthead" style="background-image: url('../../assets/img/post-bg.jpg')">
	    <div class="overlay"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-md-10 mx-auto">
	                <div class="post-heading">
	                    <h1> {{ post.title }} </h1>
	                    <h2 class="subheading"> {{ post.intro }} </h2>
                        <p class="post-meta">
                            Dernière modification le {{ post.lastWriteDate }} par {{ post.author }}
                        </p>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>

{% endblock %}

{% block mainContent %}

	<article>
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-md-10 mx-auto">
	                
	                <p> {{ post.content }} </p>

	            </div>
	        </div>
	    </div>
	</article>

	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 col-md-10 mx-auto">
				
			    {% for comment in post.comments %}

		            <div class="post-preview">
		                <p class="post-meta">
		                	Posté par {{ comment.author }}  le {{ comment.date }}
		                </p>
		                <p>
		                	{{ comment.content }}
		                </p>
		            </div>

		            <hr>
			        
			    {% endfor %}

	        </div>
	    </div>
	</div>

    <form name="addComment" id="commentForm" novalidate>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Pseudo</label>
                <input type="text" class="form-control" placeholder="Pseudo" id="pseudo" required data-validation-required-message="Veuillez écrire votre pseudo.">
                <p class="help-block text-danger"></p>
            </div>
        </div>
	    <div class="control-group">
	        <div class="form-group floating-label-form-group controls">
	            <label>Ajouter un commentaire</label>
	            <textarea rows="5" class="form-control" placeholder="Commentaire" id="commentaire" required data-validation-required-message="Veuillez écrire un commentaire."></textarea>
	            <p class="help-block text-danger"></p>
	        </div>
	    </div>
	    <br>
	    <div id="success"></div>
	    <div class="form-group">
	        <button type="submit" class="btn btn-primary" id="addCommentButton">Ajouter un commentaire</button>
	    </div>
	</form>

	<hr>

{% endblock %}