{% extends'template.html.twig' %}

{% block pageHeader %}

    <h1>Les posts</h1>
    <span class="subheading">Tous les posts signalés sont accessibles depuis cette page !</span>

{% endblock %}

{% block mainContent %}

    {% for post in posts %}
        <div class="post-preview">
            <a href="/post/{{ post.id }}/1">
                <h2 class="post-title">
                    {{ post.title }} <span class="badge"><i class="fa fa-heart post-page-heart"></i> {{ post.likes }}</span>
                </h2>
                <h3 class="post-subtitle">
                    {{ post.intro }}
                </h3>
            </a>
            <p class="post-meta">
                Dernière modification le {{ post.lastWriteDate|date('d-m-Y') }}
            </p>
        </div>
        {% if session.user is defined and session.user.is_admin == 1 %}
            <a class="btn btn-primary" href="/unreportpost/{{ post.id }}">Annuler le signalement</a> 
            <a class="btn btn-primary" href="/update/{{ post.id }}">Modifier</a> 
            <a class="btn btn-primary" href="/delete/{{ post.id }}">Supprimer</a>
        {% endif %}
        <hr>
    {% endfor %}

    {% if nbPages > 1 %}
    {% set nearbyPagesLimit = 2 %}
        <nav aria-label="posts pagination">
            <ul class="pagination pagination-lg justify-content-center">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="/reportedPosts/1" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/reportedPosts/{{ page - 1 }}" tabindex="-1">Précédent</a>
                    </li> 
                {% endif %}

                {% for p in range(max(page - nearbyPagesLimit, 1), min(page + nearbyPagesLimit, nbPages)) %}
                    <li class="page-item {{ p==page ? "active" }}">
                        <a class="page-link" href="/reportedPosts/{{ p }}">{{ p }}<span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}

                {% if page < nbPages %}
                    <li class="page-item">
                        <a class="page-link" href="/reportedPosts/{{ page + 1 }}">Suivant</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/reportedPosts/{{ nbPages }}" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                 {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}