{% extends'template.html.twig' %}

{% block pageHeader %}

    <h1>Les commentaires</h1>
    <span class="subheading">Tous les commentaires signalés sont accessibles depuis cette page !</span>

{% endblock %}

{% block mainContent %}

    {% for comment in comments %}
        <div class="post-preview">
            <p class="post-meta">
                Posté par {{ comment.author }} le {{ comment.addedAt|date('d-m-Y') }}
            </p>
            <p>
                {{ comment.content }}
            </p>
        </div>
        {% if session.user is defined and session.user.isAdmin == 1 %}
            <a class="btn btn-primary" href="/unreportcomment/{{ comment.id }}">Annuler le signalement</a> 
            <a class="btn btn-primary" href="/delete/{{ comment.id }}">Supprimer</a>
        {% endif %}
        <hr>
    {% endfor %}

    {% if nbPages > 1 %}
    {% set nearbyPagesLimit = 2 %}
        <nav aria-label="comments pagination">
            <ul class="pagination pagination-lg justify-content-center">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="/reportedComments/1" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/reportedComments/{{ page - 1 }}" tabindex="-1">Précédent</a>
                    </li> 
                {% endif %}

                {% for p in range(max(page - nearbyPagesLimit, 1), min(page + nearbyPagesLimit, nbPages)) %}
                    <li class="page-item {{ p==page ? "active" }}">
                        <a class="page-link" href="/reportedComments/{{ p }}">{{ p }}<span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}

                {% if page < nbPages %}
                    <li class="page-item">
                        <a class="page-link" href="/reportedComments/{{ page + 1 }}">Suivant</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/reportedComments/{{ nbPages }}" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                 {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}