<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="School blog project : Creating a PHP Blog with admin system using composer and twig.">
        <meta name="author" content="Alexandre Macé">

        <title>Alexandre Macé - Étudiant en developpement web</title>

        <!-- Custom fonts for this template -->
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/web/assets/css/clean-blog.css"/>
        <link rel="stylesheet" href="/web/assets/css/custom.css"/>



        <!-- externals -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.10.0/ui/trumbowyg.min.css"/>
    </head>

    <body>
        <!-- Navigation -->
        {% include 'navigation.html.twig' %}

        <!-- Page Header -->
        <header class="masthead" style="background-color: #2A2C43;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            {% if session.flashBag.success or session.flashBag.failure is not empty %}
                                <div class="alert alert-{{ session.flashBag.success is not empty ? "success" : "danger" }} mb-5" role="alert">
                                    {{ session.flashBag.success is not empty ? request.getFlashBag('success') : request.getFlashBag('failure') }}
                                    {{ session.flashBag.success is not empty ? '<i class="fas fa-check-circle"></i>' : '<i class="fas fa-frown"></i>' }}
                                </div>            
                            {% endif %}
                            {% if post.errors is defined and post.errors is not empty %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in post.errors %}
                                            <li>{{ error }} <i class="fas fa-frown"></i></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if comment.errors is defined and comment.errors is not empty %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in comment.errors %}
                                            <li>{{ error }} <i class="fas fa-frown"></i></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if user.errors is defined and user.errors is not empty %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in user.errors %}
                                            <li>{{ error }} <i class="fas fa-frown"></i></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if report.errors is defined and report.errors is not empty %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in report.errors %}
                                            <li>{{ error }} <i class="fas fa-frown"></i></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}                                                      
                            {% block pageHeader %}{% endblock %}
                        </div>                       
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% block mainContent %}{% endblock %}
                </div>
            </div>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/alexandre-mac%C3%A9/">
                                    <i class="fab fa-linkedin fa-3x"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/alexandre-mace">
                                    <i class="fab fa-github-square fa-3x"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="text-center mt-2">
                            <a href="/auth">Se connecter</a> - <a href="/adduser">S'inscrire</a>  
                        </div>
                        <p class="copyright text-muted mt-2">Copyright &copy; <a href="https://alexandremace.com">Alexandre Macé</a> 2018</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Externals -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.10.0/trumbowyg.min.js"></script>
        
        <!-- Custom scripts for this template -->
        <script src="/web/assets/js/clean-blog.min.js"></script>
        <script src="/web/assets/js/custom.js"></script>
    </body>
</html>
