{% extends'template.html.twig' %}

{% block pageHeader %}

    <h1>Les utilisateurs non validés</h1>
    <span class="subheading">Tous les utilisateurs non validés sont accessibles depuis cette page !</span>

{% endblock %}

{% block mainContent %}

    {% for user in users %}
        <div class="post-preview">
            <p class="post-meta">
               Enregistré le {{ user.addedAt|date('d-m-Y H:i') }}</span>
            </p>       
            <p>
               Identifiant : {{ user.id }} 
            </p>
        </div>
        <a class="btn btn-primary" href="/checkuser/{{ user.id }}">Valider</a> 
        <a class="btn btn-primary" href="/deleteuser/{{ user.id }}">Supprimer</a>
        <hr>
    {% endfor %}


    {% if nbPages > 1 %}
    {% set nearbyPagesLimit = 2 %}
        <nav aria-label="users pagination">
            <ul class="pagination pagination-lg justify-content-center">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="/users/1" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/users/{{ page - 1 }}" tabindex="-1">Précédent</a>
                    </li> 
                {% endif %}

                {% for p in range(max(page - nearbyPagesLimit, 1), min(page + nearbyPagesLimit, nbPages)) %}
                    <li class="page-item {{ p==page ? "active" }}">
                        <a class="page-link" href="/users/{{ p }}">{{ p }}<span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}

                {% if page < nbPages %}
                    <li class="page-item">
                        <a class="page-link" href="/users/{{ page + 1 }}">Suivant</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/users/{{ nbPages }}" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                 {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}